* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none
}

nav,
footer,
header,
aside {
    display: block;
}




html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}



.header {
    background: url(../img/layer_1_11417.png) no-repeat;
    background-size: cover;
}

.container__xl {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}


.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__menu-list {
    display: flex;
}

.header__menu {
    padding-top: 47px;
    margin-bottom: 228px;
}


.header__menu-link {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: #ffffff;
    margin-right: 30px;
}

.header__top-title {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 35px;
    line-height: 70px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    margin-bottom: 15px;
}


.header__top-text {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #ffffff;

}


.header__top-link {
    width: 36px;
    height: 36px;
    background-color: #19bd9a;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 209px;

    border-radius: 25px;
}




.header__top-link::after {
    content: url('../img/__11441.png');
    position: relative;
    top: 10px;

}

.header {
    padding-bottom: 57px;
}


.header__menu-link span {
    width: 80px;
    height: 33px;
    border: 1px solid #ffffff;
    border-radius: 16.5px;
    padding: 8px 20px;
}



.container__xs {
    max-width: 870px;
    margin: 0 auto;
    padding: 0 10px;
}

.bouncy__heading {
    display: flex;
    justify-content: space-between;
}


.bouncy__heading-title {
    margin-top: 124px;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333b46;
    margin-bottom: 47px;
}

.bouncy__heading-text {
    max-width: 467px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: rgb(129, 134, 142);
    margin-bottom: 33px;

}


.bouncy__heading-button {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: #333b46;
    width: 145px;
    height: 37px;
    border: 1px solid #333b46;
    border-radius: 18.5px;
    padding: 10px 30px;
    display: inline-block;



}

.bouncy__heading-img {
    margin-top: 70px;
    margin-bottom: 57px;

}

.about {
    background: #f3f3f3;
    padding-bottom: 50px;
}

.container__s {
    max-width: 990px;
    padding: 0px 10px;
    margin: 0 auto;

}

.about__title {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333b46;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 40px;

}

.about__subtitle {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    text-align: center;
    max-width: 460px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.about__link {
    margin-bottom: 30px;
}

.about__icons {
    display: flex;
    text-align: center;
    justify-content: center;
}

.about__icon-link {
    width: 53px;
    height: 53px;
    background-color: #81868e;
    margin-right: 30px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.about__icon-link:hover {
    background: #19bd9a;

}

.about__info-title {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 125px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #464646;
}

.about__info-text {
    display: flex;
    justify-content: space-between;
}

.about__info-about-first {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;

    margin-right: 130px;
    width: 335px;
}

.about__info-about-second {

    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    width: 513px;
}


.vero {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #19bd9a;
}

.ducimus {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #333b46;
}


.projects__title {
    margin-top: 80px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333b46;
    margin-bottom: 40px;
}

.projects__subtitle {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    text-align: center;
    max-width: 457px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;

}

.item {
    height: 310px;
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    transition: all 0.7s;

}

.item:hover {
    flex-basis: 50%;
}

.item {
    background-position: center;
    background-size: cover;

}

.item1 {
    background: url(../img/rectangle_2_11915.png) no-repeat;
    background-size: cover;
}

.item2 {
    background: url(../img/layer_17_12004.png) no-repeat;
    background-size: cover;
}

.item3 {
    background: url(../img/layer_18_12005.png) no-repeat;
    background-size: cover;
}

.item span {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
}

.submit {

    background: url(../img/rectangle_4_copy_12059.png);
}


.submit__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 113px;
}


.submit__title {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #ffffff;
    /* styles for "accusamus " */
    /* 
styles for "accusamus "
 */
}

.submit__subtitle {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 18.5px;
    padding: 12px 24px 12px 25px;
}




.services__title {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333b46;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}


.services__subtitle {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    text-align: center;
    max-width: 460px;
    margin: 0 auto;
}

.design__links {
    margin-top: 60px;
}

.services__icon {
    width: 53px;
    height: 53px;
    background-color: #81868e;
    margin-bottom: 30px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

}

.services__icon:hover {
    background: #19bd9a;

}


.services__about {
    display: flex;
}


.services__design {
    display: flex;
}

.graphic__design-title {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 125px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #464646;
    margin-top: 1px;
    margin-left: 26px;
}


.graphic__design-subtitle {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    max-width: 393px;
    margin-left: 26px;
}

.graphic__design-subtitle-second {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    /* styles for "similique sunt" */
    max-width: 390px;
    margin-top: 30px;
    margin-left: 26px;
}


.services__procent {
    margin-top: 117px;
    margin-left: 80px;
}




.procents {
    display: flex;
    justify-content: space-between;
}


.services__procent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__procent-elements {
    width: 120px;
    height: 120px;
    border: 4.5px solid #19bd9a;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__procent-elements {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    margin-bottom: 25px;

}


.services__procent-elements span {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    /* styles for "%" */
    /* 
styles for "%"
 */
    font-size: 14px;

}


.services__procent-links {

    font-family: Roboto;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #81868e;
}

.services {
    margin-bottom: 140px;
}


.impressed {
    height: 392px;
    background: url(../img/rectangle_1_11631.png)no-repeat;
    background-size: cover;
}


.impressed__title {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #f3f3f3;
    padding-top: 80px;
    margin-bottom: 59px;

}

.impressed__subtitle {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #b2b3b3;
    max-width: 604px;
    margin-bottom: 34px;
}

.impressed__text {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #b2b3b3;
    width: 230px;
}

.impressed__text span {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #b2b3b3;
    /* styles for "Abdullah Noman'" */
    /* 
styles for "Abdullah Noman'"
 */
    font-weight: 700;
    /* styles for "Code Cafe" */
    /* 
styles for "Code Cafe"
 */
    color: #19bd9a;
}

.impressed__about {
    display: flex;
    justify-content: space-between;
}

.impresed__img {
    position: relative;
}

.impressed__pht {
    position: absolute;
    top: -45px;
    right: 0;
}

.noman {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #b2b3b3;
    /* styles for "Abdullah Noman'" */
    /* 
styles for "Abdullah Noman'"
 */
    font-weight: 700;

}

.impressed__text span {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #b2b3b3;
    /* styles for "Abdullah Noman'" */
    /* 
styles for "Abdullah Noman'"
 */

    /* styles for "Code Cafe" */
    /* 
styles for "Code Cafe"
 */
    color: #19bd9a;

}

.impressed__text span:nth-child(1) {
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #b2b3b3;
    /* styles for "Abdullah Noman'" */
    /* 
styles for "Abdullah Noman'"
 */
    font-weight: 700;
    /* styles for "Code Cafe" */
    /* 
styles for "Code Cafe"
 */

}


.container__m {
    max-width: 1130px;
    padding: 0px 10px;
    margin: 0 auto;
}


.portfolio__title {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333b46;
    padding-top: 80px;
    text-align: center;
    margin-bottom: 40px;
}

.portfolio__subtitle {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}

.portfolio__categories {
    margin-top: 81px;
    display: flex;
    justify-content: center;

}

.portfolio__link {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: #464646;
    margin: 0px 15px;
}

.categories:nth-child(1) {
    margin-right: 10px;
}

.categories {
    margin-bottom: 70px;
}

.portfolio__galery {
    display: flex;
}

.portfolio__img {
    margin: 5px;
}

.layer {
    width: 100%;
}

.portfolio__img {
    position: relative;
}

.layer__info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.4s;

}

.layer__info-title {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    letter-spacing: 0.2em;
    color: #19bd9a;
    margin-top: 108px;
    margin-left: 40px;
    margin-bottom: 52px;
}

.layer__info-subtitle {
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #b2b3b3;
    margin-left: 40px;
    width: 194px;
    margin-bottom: 73px;

}

.layer__info-links {
    display: flex;
    margin-left: 40px;

}

.layer__info-link {
    width: 29px;
    height: 28px;
    background-color: #000000;
    margin-right: 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer__info:hover {

    background: rgba(0, 0, 0, 0.30);

}



.portfolio__galery {
    margin-bottom: 40px;
}

.start__project {
    background: url(../img/rectangle_7_copy_12849\ \(1\).png);
    height: 201px;
    margin-left: 4px;
}


.start__project-title {
    text-align: center;
    /* base styles for text */
    /* 
base styles for text
 */
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-top: 50px;


}

.start__project-link {
    text-align: center;
    margin-top: 40px;
}

.start-link {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 12px;
    font-weight: 200;
    color: #ffffff;
    width: 140px;
    height: 37px;
    border: 1px solid #ffffff;
    border-radius: 18.5px;
    padding: 5px 21px;
}

.portfolio {
    background: #f3f3f3;
    padding-bottom: 100px;
}


.team__title {
    margin-top: 80px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333b46;
    margin-bottom: 40px;
}

.team__subtitle {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    max-width: 458px;
    margin: 0 auto;
    text-align: center;
}



.team__slider-item {
    display: flex;
    justify-content: space-between;
}

.slider-title {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 125px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #464646;
    text-align: right;
}

.slider-subtitle {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #81868e;
    text-align: right;
    position: relative;
    top: -35px;
}

.slider-info {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    max-width: 363px;
    text-align: right;

}



.slider-procent {
    margin-top: 40px;
}

.slider-porcent-item {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #81868e;
}

.slider-porcent-item-s {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #81868e;
}

.slider-procent-items {
    margin-bottom: 30px;
}



.team__slider-img {
    margin-top: 70px;
}


.team__slider-info {
    margin-top: 40px;
}

.line {
    width: 330px;
    background: #e1e4e9;
    ;
    height: 4px;
    position: relative;
}

.text {
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.team__slider-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.line::after {
    content: "";
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background: #19bd9a;
}


.line75::after {
    width: 75%;
}

.line65::after {
    width: 65%;
}


.slick-initialized .slick-slide {
    display: flex
}

.slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #19bd9a;
    border-radius: 100px;
}

.slick-active button {
    background-color: #19bd9a;
}


.team__slider .slick-dots {
    display: flex;
}




.button {
    margin-right: 10px;
}

#slick-slide-control00 {
    margin-right: 10px;
}

#slick-slide-control01 {
    margin-right: 10px;
}

.team__slider .slick-dots {
    position: absolute;
    right: 460px;
    margin-top: 61px;
    margin-bottom: 100px;
}

.team__slider {
    position: relative;
    margin-bottom: 100px;
}


.contact_Us {
    height: 201px;
    background: url(../img/rectangle_7_copy_12851.png) no-repeat;
    background-size: cover;
}


.contact_Us-title {

    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    padding-top: 58px;
    margin-bottom: 50px;
}

.link {
    text-align: center;

}

.contact_us-subtitle {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: #ffffff;
    width: 140px;
    height: 37px;
    border: 1px solid #ffffff;
    border-radius: 18.5px;
    padding: 5px 21px;
}


.our__price-title {
    margin-top: 80px;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333b46;
    text-align: center;
    margin-bottom: 40px;
}

.our__price-subtitle {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    max-width: 458px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}


.pricing__icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.pricing__icon {

    width: 234px;
    height: 302px;
    background-color: #ffffff;
    box-shadow: 1px 1px 0px 0px #000000;
    position: relative;


}

.pricing__info-link {
    width: 234px;
    height: 67px;
    background-color: #19bd9a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: #ffffff;

}

.pricing__icon-title {
    width: 234px;
    height: 67px;
    background-color: #19bd9a;
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 125px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__icon-subtitle {
    font-family: 'Source Sans Pro';
    font-size: 42.3px;
    line-height: 50px;
    font-weight: 900;
    color: #1fbba6;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;

}

.pricing__icon-month {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    text-align: center;

}

.bla {
    width: 232px;
    height: 302px;
    background-color: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.7s;

}


.pricing__icon:hover .bla {
    opacity: 1;
}


.list__item {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
}

.list {
    margin: 35px 51px 36px 33px;
}

.list__links {

    width: 234px;
    height: 51px;
    background: #19bd9a;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}

.list__link {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: #ffffff;
}

.pricing__icon {
    margin-bottom: 50px;
    margin-right: 10px;
}

.container__xxs {
    max-width: 540px;
    padding: 0px 20px;
    margin: 0 auto;
}

.subscribe {
    background: url(../img/rectangle_17_13504.png) no-repeat;
    background-size: cover;
    height: 378px;
}

.subscribe__title {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 43px;
}

.subscribe__subtitle {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    text-align: center;
    margin-bottom: 61px;
}

.email {
    background: none;
    width: 300px;
    height: 41px;
    font-size: 14px;
    color: #ffffff;
    margin-left: 15px;
    font-family: 'Open Sans';

}

.email::placeholder {
    color: #ffffff;
    margin-left: 15px;
}

.input {

    width: 358px;
    height: 41px;
    border: 1px solid #81868e
}

.div {
    display: flex;
}

.input__link {
    margin-left: 10px;
}

.input__links {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    width: 151px;
    height: 41px;
    background-color: #19bd9a;
    justify-content: center;
}

.subscribe {
    margin-bottom: 10px;
}

.map {
    background-color: #000000;

    max-width: 1349px;
    height: 429px;
    position: relative;
    margin: 0 auto;
}

.text__map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.85;
    background-color: #000000;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.text__map {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}


.footer__title {
    font-family: 'Bigshot One';
    font-size: 25px;
    line-height: 12px;
    font-weight: 700;
    color: #323a45;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 24px;
}

.footer__subtitle {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #81868e;
    margin-bottom: 43px;
}

.footer__icons {
    display: flex;
    justify-content: center;

}

.footer__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 100px;
    width: 26px;
    height: 26px;
    background-color: #3b5998;
}

.footer__icon:nth-child(1) {
    background-color: #3b5998;
}

.footer__icon:nth-child(2) {
    background-color: #26a6d1;
}

.footer__icon:nth-child(3) {
    background-color: #26a6d1;
}

.footer__icon:nth-child(4) {
    background-color: #3f729b;
}

.footer__icon:nth-child(5) {
    background-color: #3f729b;
}


.footer {
    padding-bottom: 50px;
}

.menu__btn {
    display: none;
}

@media(max-width:1200px) {
    .services__design {
        justify-content: center;
    }

    .services__about {
        display: block;
    }

    .procents {
        justify-content: space-evenly;
        flex-wrap: wrap;


    }

    .services__procent {
        margin-right: 10px;
        margin-left: 0;
        margin-top: 0;
    }

    .portfolio__galery {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media(max-width:1040px) {
    .impresed__img {
        display: none;
    }

    .impressed__title {
        text-align: center;
    }

    .impressed__about {
        display: block;
    }

    .impressed__subtitle {
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }

    .impressed__text {
        margin: 0 auto;
    }

}


@media(max-width:930px) {
    .submit__about {
        display: block;
        height: 135px;
    }

    .submit__title {
        margin-bottom: 40px;
        text-align: center;
        padding-top: 10px;
    }

    .submit-now {
        text-align: center;
        display: block;
        margin: 0 auto;
    }


}

@media(max-width:767px) {
    .header__menu-list {
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: hsla(0, 100%, 90%, 0);
        text-align: right;
        right: 0;
        transform: translateX(400px);
        transition: all .4s;

    }

    .header__menu-list--active {
        transform: translateX(0);

    }

    .header__menu-link {
        padding: 8px 0px;
        display: block;
        margin-right: 10px;
    }

    .header {
        position: relative;
        overflow: hidden;
    }

    .header__menu {
        margin-bottom: 200px;
    }



    .header__menu-link span {
        display: none;
    }

    .menu__btn {
        display: block;
        width: 30px;
        height: 24px;
        border: none;
        cursor: pointer;
        border-top: 2px solid #fefefe;
        border-bottom: 2px solid #fefefe;
        background-color: transparent;
        position: relative;

    }

    .menu__btn::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fefefe;
        left: 0;
        top: 9px;
    }

    .header__top-link {
        margin-top: 100px;
    }


}

@media(max-width:750px) {
    .bouncy__heading {
        display: block;
    }

    .bouncy__heading__info {
        padding-right: 15px;
    }

    .bouncy__heading-title {
        text-align: center;
    }

    .bouncy__heading-text {
        margin: 0 auto;
    }

    .bouncy__heading-button {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    .bouncy__heading-title {
        margin-top: 40px;
    }

    .bouncy__heading-img {
        text-align: center;
    }



    .about__info-text {
        display: block;
    }

    .about__info-title {
        text-align: center;
    }

    .about__info-about-first {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
        width: 250px;
    }

    .about__info-about-second {
        text-align: center;
        margin: 0 auto;

        width: 250px;
    }


}

@media(max-width:750px) {

    .portfolio__galery {
        flex-wrap: wrap;
    }

    .slick-initialized .slick-slide {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:750px) {
    .slider {
        display: block;
    }
}

@media(max-width:750px) {
    .portfolio__categories {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:650px) {

    .team__slider .slick-dots {
        right: 229px;
    }


}

@media(max-width:551px) {


    .submit__title {
        font-size: 14px;
    }

    .submit__subtitle {
        font-size: 14px;

    }

}

@media(max-width:551px) {
    .div {
        display: block;
    }

    .input {
        margin: 0 auto;
        margin-bottom: 20px;

    }

    .input__link {
        display: flex;
        justify-content: center;
    }
}

@media(max-width:485px) {

    .slick-initialized .slick-slide {

        justify-content: left;
    }


}

@media(max-width:440px) {
    .services__procent {

        margin-left: 0;
        margin-top: 0;
    }

    .services__design {
        margin-bottom: 25px;
    }

    .slider-title {
        text-align: left;
    }

    .slider-subtitle {
        text-align: left;
    }

    .slider-info {
        text-align: left;
    }

    .text {
        width: 365px;
        justify-content: start;
    }

    .line {
        width: 251px;

    }

    .slider-porcent-item {
        margin-right: 50px;
    }


    .input {
        width: 250px;
    }

    .email {
        width: 230px;
    }

}

@media(max-width:400px) {

    .team__slider-info {
        display: block;
    }

    .slider-info {
        max-width: 200px;
    }
}